.card img {
    object-fit: cover;
    max-height: 150px;
}
#paypal-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
 
.card {
    border: none !important;
}
.card-body {
    padding: 1rem;
}
 
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
 
.card h5 {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}
 
.card p {
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}