.carousel img{
    width: 50px;
    height: 600px;
}
 
@media (max-width: 768px) {
    .carousel img{
        width: 50px;
        height: 400px;
    }
}
 
@media (max-width: 480px) {
    .carousel img{
        width: 50px;
        height: 300px;
    }
}